/* VARIABLES */
/* MIXINS */
/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  -webkit-transition-duration: .5s; }

html {
  background: #425b17 url("http://iir.yetanotherwebdesigner.com/google/images/gradient-bg.png") repeat-x 0 50%;
  overflow: hidden; }

.no-js {
  overflow: auto; }

body {
  font: 13px normal Arial,Helvetica,sans-serif; }

.no-js body {
  width: 974px;
  margin: auto; }

ul {
  margin: 0 auto; }

ul, li {
  list-style-type: none; }

li {
  margin: 0 20px 10px 20px; }

/* MAIN */
#main {
  width: 100%;
  min-height: 700px;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 4; }
  #main form {
    padding-top: 351px; }
  #main ul li {
    float: left;
    display: none;
    padding-right: 10px;
    padding-top: 10px; }
  #main form {
    width: 561px;
    margin: 0 auto; }
  #main input {
    display: none;
    /* to be invoked _after_ balloon pops out */
    text-align: center;
    font-size: 16px;
    width: 373px;
    padding: 5px 0;
    margin: 0 auto;
    color: #161e07;
    font-weight: bold;
    font-size: 16px;
    background-color: #e6e6e6;
    border-radius: 20px;
    border-bottom-style: none;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #cdcdcd;
    border-right-style: none;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #cdcdcd; }
  #main ul {
    width: 260px;
    height: 26px;
    overflow: hidden;
    margin: 20px auto; }

.no-js #main input {
  display: inline; }

/* NAV */
nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 20px;
  background: #161e07;
  opacity: .3;
  filter: alpha(opacity=30);
  padding: 20px 40px;
  border-bottom: 7px solid black; }
  nav:hover {
    opacity: .8;
    filter: alpha(opacity=80); }
  nav a {
    display: none;
    position: absolute;
    top: 10px;
    z-index: 6;
    width: 255px;
    font-weight: bold;
    line-height: 27px;
    margin: 10px 0;
    color: white;
    text-decoration: none; }
    nav a:focus {
      outline: none;
      margin-top: 5px; }

.no-js nav {
  width: 974px;
  padding-left: 0;
  padding-right: 0;
  left: 20px;
  border-radius: 0 0 10px 10px; }
  .no-js nav a {
    display: inline;
    text-align: center; }
    .no-js nav a[href|="#about"] {
      left: 0; }
    .no-js nav a[href|="#chrome"] {
      left: 244px; }
    .no-js nav a[href|="#accounts"] {
      left: 488px; }
    .no-js nav a[href|="#search"] {
      left: 732px; }

/* SECTIONS */
.no-js #search-more, .no-js #accounts, .no-js #chrome, .no-js #about {
  position: static;
  display: block;
  width: 233.5px;
  margin: 10px 10px 40px 0;
  float: left;
  text-indent: 0;
  height: auto;
  border-radius: 10px; }

.no-js section ul, .no-js section div {
  padding: 80px 20px; }

.no-js #search-more a, .no-js #accounts a {
  color: #1a1a1a;
  background-image: none;
  background-color: transparent; }

.no-js #search-more {
  background: white url("../../images/nojs-searchmore-bg.png") no-repeat 50% 40px;
  border-bottom: 7px solid #676767; }

.no-js #accounts {
  background: #f2f2f2 url("../../images/nojs-accounts-bg.png") no-repeat 50% 40px; }

.no-js #chrome {
  background: #e6e6e6 url("../../images/nojs-chrome-bg.png") no-repeat 50% 40px; }
  .no-js #chrome div {
    float: left;
    /* &:before{ content:} */ }
  .no-js #chrome span, .no-js #chrome a {
    padding: 10px 20px 10px;
    text-align: center;
    font-size: 13px; }

.no-js section li {
  float: none;
  text-align: center; }
  .no-js section li a {
    padding: 10px 0;
    font-weight: bold; }

.no-js #about {
  background: #161e07 url("../../images/nojs-about-bg.png") no-repeat 50% 40px; }

section {
  background: #fff;
  text-indent: -9999px;
  display: none;
  position: absolute;
  z-index: 7;
  width: 1024px;
  border-bottom: 7px solid #676767;
  /* SEARCH MORE */ }
  section li {
    float: left;
    margin: 0; }
  section a {
    display: block;
    /* ACCOUNTS */ }
    section a:link, section a:visited {
      text-decoration: none; }
    section a:hover, section a:active {
      text-decoration: underline; }
    section a[href="https://www.google.com/imghp?hl=en"] {
      background: white url("http://iir.yetanotherwebdesigner.com/google/images/sm-images-text.png") no-repeat 50% 50%; }
    section a[href="http://maps.google.com/maps?hl=en"] {
      background: #fafafa url("http://iir.yetanotherwebdesigner.com/google/images/sm-maps-text.png") no-repeat 50% 50%; }
    section a[href="https://play.google.com/?hl=en"] {
      background: #f5f5f5 url("http://iir.yetanotherwebdesigner.com/google/images/sm-play-text.png") no-repeat 50% 50%; }
    section a[href="http://www.youtube.com"] {
      background: #f0f0f0 url("http://iir.yetanotherwebdesigner.com/google/images/sm-youtube-text.png") no-repeat 50% 50%; }
    section a[href="http://news.google.com/nwshp?hl=en"] {
      background: #ebebeb url("http://iir.yetanotherwebdesigner.com/google/images/sm-news-text.png") no-repeat 50% 50%; }
    section a[href="http://books.google.com/bkshp?hl=en"] {
      background: #e6e6e6 url("http://iir.yetanotherwebdesigner.com/google/images/sm-books-text.png") no-repeat 50% 50%; }
    section a[href="http://www.google.com/finance"] {
      background: #e0e0e0 url("http://iir.yetanotherwebdesigner.com/google/images/sm-finance-text.png") no-repeat 50% 50%; }
    section a[href="http://video.google.com/?hl=en"] {
      background: #d6d6d6 url("http://iir.yetanotherwebdesigner.com/google/images/sm-videos-text.png") no-repeat 50% 50%; }
    section a[href="http://www.google.com/intl/en/options/"] {
      background: #d1d1d1 url("http://iir.yetanotherwebdesigner.com/google/images/sm-more-text.png") no-repeat 50% 50%; }
    section a[href="https://accounts.google.com/ServiceLogin?hl=en&continue=https://www.google.com/"] {
      background: #a6a6a6 url("http://iir.yetanotherwebdesigner.com/google/images/acc-signin-text.png") no-repeat 50% 50%; }
    section a[href="https://plus.google.com/?gpsrc=ogpy0"] {
      background: #b0b0b0 url("http://iir.yetanotherwebdesigner.com/google/images/acc-plus-text.png") no-repeat 50% 50%; }
    section a[href="https://mail.google.com/mail/"] {
      background: #bababa url("http://iir.yetanotherwebdesigner.com/google/images/acc-gmail-text.png") no-repeat 50% 50%; }
    section a[href="https://docs.google.com/"] {
      background: #c7c7c7 url("http://iir.yetanotherwebdesigner.com/google/images/acc-docs-text.png") no-repeat 50% 50%; }
    section a[href="https://www.google.com/calendar"] {
      background: #d1d1d1 url("http://iir.yetanotherwebdesigner.com/google/images/acc-calendar-text.png") no-repeat 50% 50%; }
    section a[href="https://wallet.google.com/manage"] {
      background: #dbdbdb url("http://iir.yetanotherwebdesigner.com/google/images/acc-wallet-text.png") no-repeat 50% 50%; }
    section a[href="http://www.blogger.com"] {
      background: #e6e6e6 url("http://iir.yetanotherwebdesigner.com/google/images/acc-blogger-text.png") no-repeat 50% 50%; }
    section a[href="http://www.google.com/reader/?hl=en"] {
      background: #f0f0f0 url("http://iir.yetanotherwebdesigner.com/google/images/acc-reader-text.png") no-repeat 50% 50%; }
    section a[href="http://picasaweb.google.com/home?hl=en"] {
      background: #fafafa url("http://iir.yetanotherwebdesigner.com/google/images/acc-photos-text.png") no-repeat 50% 50%; }

#search-more {
  left: 1024px;
  top: 60px;
  height: 208px;
  background: #d1d1d1;
  border-bottom: 7px solid #bdbdbd; }

#accounts {
  left: -1024px;
  top: 268px;
  height: 208px;
  width: 1024px;
  background: #fff; }

#chrome {
  text-indent: 0;
  left: 1024px;
  top: 474px;
  height: 166px;
  background: white url("http://iir.yetanotherwebdesigner.com/google/images/chrome-pane-image.png") no-repeat 40px 50%;
  width: 1024px;
  font-weight: bold; }
  #chrome div {
    position: absolute;
    top: 50%;
    left: 257px; }
  #chrome span, #chrome a {
    float: left;
    text-transform: capitalize;
    font-size: 16px;
    padding-right: 10px; }
  #chrome span:after, #chrome a:after {
    content: "."; }
  #chrome a {
    color: #1a1a1a;
    /* &:after{ content:"\00bb"; } */ }

#about {
  text-indent: 0;
  left: -1024px;
  top: 640px;
  height: 84px;
  background: #161e07;
  width: 1024px;
  border-bottom: 7px solid #070902; }
  #about ul {
    position: absolute;
    top: 50%; }
  #about li {
    float: left;
    padding: 0;
    text-align: center; }
  #about a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; }

.no-js #chrome div {
  position: static; }

.no-js #about ul {
  position: static; }
  .no-js #about ul li {
    float: none; }

/* CANVAS */
canvas {
  position: absolute;
  top: 0;
  left: 0; }

#icons {
  z-index: 2; }

#main-balloon {
  z-index: 3; }

#dots {
  z-index: 1; }

.no-js canvas {
  width: 974px; }

.no-canvas canvas {
  width: 100%;
  height: 100%; }

.no-js #main-balloon img, .no-canvas #main-balloon img {
  width: 650px;
  display: block;
  margin: 80px auto 0; }

.no-canvas #dots {
  background: url("http://iir.yetanotherwebdesigner.com/google/images/dots-bg.png") repeat 0 0;
  opacity: .1;
  filter: alpha(opacity=10); }

.no-canvas #gradient {
  background: url("http://iir.yetanotherwebdesigner.com/google/images/gradient-bg.png") repeat-x 0 50%; }

.no-canvas #icons {
  display: none; }

/* IE FIXES */
.lt-ie9 #main input {
  display: inline; }

.lt-ie8 {
  background: #24320d url("http://iir.yetanotherwebdesigner.com/google/images/thought-balloon.png") no-repeat 40% 80px; }

.lt-ie8 #main-balloon, .lt-ie8 #dots {
  display: none; }
