/* VARIABLES */
$darkgreen:#161e07;
$darkgreen-2:#425B17;
$lightgreen:#b6c74d;
$lightgrey:#e6e6e6;
$search-options:10;
$icon-dimensions:16px;
$search-options-padright:10px;
$padding:40px;
$text-margin:10px;
$whisper-width:683px;
$tens:10px;
$gblue:#0042f0;
$gred:#de0c32;
$gyellow:#FBCD39;
$ggreen:#008e1c;
$chrome-width:177px;
$nojs-width:974px;