/* VARIABLES */
$darkgreen:#161e07;
$darkgreen-2:#425B17;
$lightgreen:#b6c74d;
$lightgrey:#e6e6e6;
$search-options:10;
$icon-dimensions:16px;
$search-options-padright:10px;
$padding:40px;
$text-margin:10px;
$whisper-width:683px;
$tens:10px;
$gblue:#0042f0;
$gred:#de0c32;
$gyellow:#FBCD39;
$ggreen:#008e1c;
$chrome-width:177px;
$nojs-width:974px;
/* MIXINS */
@mixin shadow($side,$color:darken($darkgreen,50),$thickness:7px){
  border-#{ $side }:#{ $thickness } solid #{ $color };
}
@mixin centertext{ text-align:center; }
@mixin embossedtext{ text-shadow:0 -1px $darkgreen; }
/* GLOBAL STYLES */
*{ margin:0;padding:0;transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s;-webkit-transition-duration:.5s;}
html{ background:$darkgreen-2 url("http://iir.yetanotherwebdesigner.com/google/images/gradient-bg.png") repeat-x 0 50%;overflow:hidden; }
.no-js{ overflow:auto; }
body{ font:13px normal Arial,Helvetica,sans-serif; }
.no-js body{ width:$nojs-width;margin:auto; }
ul{ margin:0 auto; }
ul,li{ list-style-type:none; }
li{ margin:0 2*$tens $tens 2*$tens; }
/* MAIN */
#main{
       width:100%;text-align:center;position:relative;top:351px;z-index:4;
       ul li{ float:left;display:none;
              padding:{
                        right:10px;
                        top:10px;
                        }
              }
form{ margin:0 auto; }
input{ display:none;/* to be invoked _after_ balloon pops out */text-align:center;margin:0 auto;color:$darkgreen;font:{ weight:bold;size:16px;} background-color:$lightgrey;
border:{ radius:20px;bottom:{ style:none; }left:{ style:solid;width:5px;color:darken($lightgrey,10); }right:{ style:none; }top:{ style:solid;width:3px;color:darken($lightgrey,10); } }}
ul{ width:($icon-dimensions+$search-options-padright)*$search-options;height:26px;overflow:hidden;margin:20px auto; }
       }
.no-js #main input{ display:inline; }
/* NAV */
nav{ position:absolute;top:0;left:0;z-index:5;width:100%;height:20px;background:$darkgreen;opacity:.3;filter:alpha(opacity=30);padding:$padding/2 $padding;@include shadow(bottom);&:hover{ opacity:.8;filter:alpha(opacity=80); }
a{ display:none;position:absolute;top:10px;z-index:6;width:255px;font-weight:bold;line-height:27px;margin:$text-margin 0;color:lighten($lightgreen,50);text-decoration:none;&:focus{ outline:none;margin-top:5px;} }
}
.no-js nav
{
  width:974px;padding-left:0;padding-right:0;left:$padding/2;border-radius:0 0 10px 10px;
  a{ display:inline;@include centertext;
     &[href|="#about"]{ left:0; }
&[href|="#chrome"]{ left:244px;}
&[href|="#accounts"]{ left:488px;}
&[href|="#search"]{ left:732px;} 
              }
}
/* SECTIONS */
.no-js #search-more,.no-js #accounts,.no-js #chrome,.no-js #about{ position:static;display:block;width:$nojs-width/4 - $tens;margin:$tens $tens $padding 0;float:left;text-indent:0;height:auto;border-radius:10px; }
.no-js section ul,.no-js section div{ padding:$padding*2 $padding/2; }
.no-js #search-more a,.no-js #accounts a{ color:#1a1a1a;background-image:none;background-color:transparent; }
.no-js #search-more{ background:#fff url("../../images/nojs-searchmore-bg.png") no-repeat 50% $padding;@include shadow(bottom,darken($lightgrey,50)); }
.no-js #accounts{ background:darken(#fff,5) url("../../images/nojs-accounts-bg.png") no-repeat 50% $padding; }
.no-js #chrome{ background:darken(#fff,10) url("../../images/nojs-chrome-bg.png") no-repeat 50% $padding;
                div{
                      float:left;
                     /* &:before{ content:} */
                     }
span,a{ display:block;padding:$tens $padding/2 $tens;text-align:center;font-size:13px; }
                }
.no-js section li { float:none;text-align:center;
                    a{ padding:$tens 0;font-weight:bold;
                       }
}
.no-js #about{ background:$darkgreen url("../../images/nojs-about-bg.png") no-repeat 50% $padding; }
section{ background:#fff;text-indent:-9999px;display:none;position:absolute;z-index:7;width:1024px;@include shadow(bottom,darken($lightgrey,50));

         li{ float:left;margin:0;  }
a{ display:block;&:link,&:visited{ text-decoration:none;} &:hover,&:active{ text-decoration:underline; }
}
}
#search-more{ left:1024px;top:60px;height:208px;background:darken(#fff,18);@include shadow(bottom,darken($lightgrey,16));}
#accounts{ left:-1024px;top:268px;height:208px;width:1024px;background:#fff;}
#chrome{ text-indent:0;left:1024px;top:474px;height:166px;width:1024px;font-weight:bold;
         span,a{ &:after{ content:"."; } }
a{ color:#1a1a1a;/* &:after{ content:"\00bb"; } */ }
}
#about{ text-indent:0;left:-1024px;top:640px;height:84px;background:$darkgreen;width:1024px;@include shadow(bottom,darken($darkgreen,5));
        ul{ position:absolute;top:50%; }
li{ float:left;padding:0;text-align:center;}
a{ color:#fff;text-decoration:none;font:{ weight:bold; } }
        }
.no-js #chrome div{ position:static; }
.no-js #about{
            ul{
                position:static;
                li{ float:none; }
                }
}
/* CANVAS */
canvas{ position:absolute;top:0;left:0; }
#dots{ z-index:1; }
#icons{ z-index:2; }
#main-balloon{ z-index:3; }
.no-js canvas{ width:$nojs-width; }
.no-canvas canvas{ width:100%;height:100%; }
.no-js #main-balloon img,.no-canvas #main-balloon img{ width:650px;display:block;margin:80px auto 0; }
.no-canvas #dots{ background:url("http://iir.yetanotherwebdesigner.com/google/images/dots-bg.png") repeat 0 0;opacity:.1;filter:alpha(opacity=10);}
.no-canvas #gradient{ background:url("http://iir.yetanotherwebdesigner.com/google/images/gradient-bg.png") repeat-x 0 50%;  }
.no-canvas #icons{ display:none; }
/* IE FIXES */
.lt-ie9 #main input{ display:inline; }
.lt-ie9{ background-image:none; }
.lt-ie8 { background:darken($darkgreen-2,10) url("http://iir.yetanotherwebdesigner.com/google/images/thought-balloon.png") no-repeat 40% 80px; }
.lt-ie8 #main-balloon,.lt-ie8 #dots{ display:none; }