/* VARIABLES */
/* $darkgreen:#425B17; */
/* $lightgreen:#9AA640; */
/* GLOBAL STYLES */
html {
  background: #161e07;
  overflow: hidden; }

body {
  min-height: 100%; }

ul {
  margin: 0 auto; }

ul, li {
  list-style-type: none; }

/* MAIN */
#main {
  width: 100%;
  min-height: 700px;
  height: 100%;
  /* background:url("images/thought-balloon.png") no-repeat 50% 80px; */
  text-align: center;
  position: relative;
  z-index: 100; }
  #main #search-related {
    padding-top: 331px; }
  #main ul li {
    float: left;
    display: none;
    padding-right: 10px;
    padding-top: 10px; }
  #main li a {
    display: block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-indent: -9999px; }
  #main li a[href="http://maps.google.com/maps?hl=en"] {
    background: url("images/maps-icon.png") no-repeat 0 0; }
  #main li a[href="https://www.google.com/webhp?hl=en"] {
    background: url("images/search-icon.png") no-repeat 0 0; }
  #main li a[href="https://www.google.com/imghp?hl=en"] {
    background: url("images/images-icon.png") no-repeat 0 0; }
  #main li a[href="https://play.google.com/?hl=en"] {
    background: url("images/play-icon.png") no-repeat 0 0; }
  #main li a[href="http://www.youtube.com"] {
    background: url("images/youtube-icon.png") no-repeat 0 0; }
  #main li a[href="http://news.google.com/nwshp?hl=en"] {
    background: url("images/news-icon.png") no-repeat 0 0; }
  #main li a[href="http://books.google.com/bkshp?hl=en"] {
    background: url("images/books-icon.png") no-repeat 0 0; }
  #main li a[href="http://www.google.com/finance"] {
    background: url("images/finance-icon.png") no-repeat 0 0; }
  #main li a[href="http://video.google.com/?hl=en"] {
    background: url("images/video-icon.png") no-repeat 0 0; }
  #main form {
    width: 561px;
    margin: 0 auto; }
  #main input {
    display: none;
    text-align: center;
    font-family: 'ScratchRegular',Arial,sans-serif;
    font-size: 16px;
    width: 373px;
    height: 29px;
    margin: 0 auto;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    background-color: #e6e6e6;
    border-radius: 20px;
    border-bottom-style: none;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #cdcdcd;
    border-right-style: none;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #cdcdcd; }
  #main ul {
    width: 260px;
    height: 26px;
    overflow: hidden;
    margin: 20px auto; }

/* ASIDE */
aside {
  display: none;
  /* _hide for now_ */
  position: absolute;
  right: 0; }

/* CANVAS */
.canvas canvas {
  position: absolute;
  top: 0;
  left: 0; }

#icons {
  z-index: 3; }

#main-balloon {
  z-index: 4; }

#dots {
  z-index: 2; }

#gradient {
  z-index: 1; }

.no-canvas canvas {
  width: 100%;
  height: 100%; }

.no-canvas #main-balloon img {
  width: 650px;
  display: block;
  margin: 80px auto 0; }

.no-canvas #dots {
  background: url("images/dots-bg.png") repeat 0 0;
  opacity: .1;
  filter: alpha(opacity=10); }

.no-canvas #gradient {
  background: url("images/gradient-bg.png") repeat-x 0 50%; }

.no-canvas #icons {
  display: none; }
