/* VARIABLES */
$darkgreen:#161e07;
/* $darkgreen:#425B17; */
/* $lightgreen:#9AA640; */
$lightgreen:#b6c74d;
$lightgrey:#b3b3b3;
$search-options:10;
$icon-dimensions:16px;
$search-options-padright:10px;
/* GLOBAL STYLES */
html{ background:$darkgreen;overflow:hidden; }
body{ min-height:100%; }
ul{ margin:0 auto; }
ul,li{ list-style-type:none; }
/* MAIN */
#main{
       width:100%;min-height:700px;height:100%;/* background:url("images/thought-balloon.png") no-repeat 50% 80px; */text-align:center;position:relative;z-index:100;
       #search-related{ padding-top:331px; }
       ul li{ float:left;display:none;
              padding:{
                        right:10px;
                        top:10px;
                        }
              }
li a{ display:block;width:$icon-dimensions;height:$icon-dimensions;overflow:hidden;text-indent:-9999px; }
li a[href="http://maps.google.com/maps?hl=en"]{ background:url("images/maps-icon.png") no-repeat 0 0; }
li a[href="https://www.google.com/webhp?hl=en"]{ background:url("images/search-icon.png") no-repeat 0 0; }
li a[href="https://www.google.com/imghp?hl=en"]{ background:url("images/images-icon.png") no-repeat 0 0; }
li a[href="https://play.google.com/?hl=en"]{ background:url("images/play-icon.png") no-repeat 0 0; }
li a[href="http://www.youtube.com"]{ background:url("images/youtube-icon.png") no-repeat 0 0; }
li a[href="http://news.google.com/nwshp?hl=en"]{ background:url("images/news-icon.png") no-repeat 0 0; }
li a[href="http://books.google.com/bkshp?hl=en"]{ background:url("images/books-icon.png") no-repeat 0 0; }
li a[href="http://www.google.com/finance"]{ background:url("images/finance-icon.png") no-repeat 0 0; }
li a[href="http://video.google.com/?hl=en"]{ background:url("images/video-icon.png") no-repeat 0 0; }
form{ width:561px;margin:0 auto; }
input{ display:none;font-family:'ScratchRegular',Arial,sans-serif;width:373px;height:29px;margin-left:0;color:#000;font:{ weight:bold;size:16px;} background-color:lighten($lightgrey,50);
border:{ bottom:{ style:solid;width:2px;color:#000; }left:{ style:none; }right:{ style:none; }top:{ style:none; } }}
ul{ width:($icon-dimensions+$search-options-padright)*$search-options;height:26px;overflow:hidden;margin:20px auto; }
       }
/* ASIDE */
aside{ display:none;/* _hide for now_ */position:absolute;right:0; }
/* CANVAS */
#main-balloon{ position:absolute;top:0;left:0;z-index:3; }
.no-canvas canvas{ width:100%;height:100%; }
.no-canvas #main-balloon img{ width:650px;display:block;margin:80px auto 0; }
#dots{ position:absolute;top:0;left:0;z-index:2; }
.no-canvas #dots{ background:url("images/dots-bg.png") repeat 0 0;opacity:.1;filter:alpha(opacity=10);}
.no-canvas #gradient{ background:url("images/gradient-bg.png") repeat-x 0 50%;  }
#gradient{ position:absolute;top:0;left:0;z-index:1; }
