/* VARIABLES */
$darkgreen:#161e07;
$darkgreen-2:#425B17;
$lightgreen:#b6c74d;
$lightgrey:#e6e6e6;
$search-options:10;
$icon-dimensions:16px;
$search-options-padright:10px;
$aside-padding:40px;
$text-margin:10px;
/* MIXINS */
@mixin dropshadow{ border-bottom:7px solid darken($darkgreen,50); }
@mixin centertext{ text-align:center; }
@mixin embossedtext{ text-shadow:0 -1px $darkgreen; }
/* GLOBAL STYLES */
*{ margin:0;padding:0;transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s; }
html{ background:$darkgreen-2 url("images/gradient-bg.png") repeat-x 0 50%;overflow:hidden; }
body{ min-height:100%;font:13px normal Arial,sans-serif; }
ul{ margin:0 auto; }
ul,li{ list-style-type:none; }
/* MAIN */
#main{
       width:100%;min-height:700px;height:100%;/* background:url("images/thought-balloon.png") no-repeat 50% 80px; */text-align:center;position:relative;z-index:4;
       #search{ padding-top:351px; }
       ul li{ float:left;display:none;
              padding:{
                        right:10px;
                        top:10px;
                        }
              }
form{ width:561px;margin:0 auto; }
input{ display:none;text-align:center;font:{ size:16px;}width:373px;height:29px;margin:0 auto;color:$darkgreen;font:{ weight:bold;size:16px;} background-color:$lightgrey;
border:{ radius:20px;bottom:{ style:none; }left:{ style:solid;width:5px;color:darken($lightgrey,10); }right:{ style:none; }top:{ style:solid;width:3px;color:darken($lightgrey,10); } }}
ul{ width:($icon-dimensions+$search-options-padright)*$search-options;height:26px;overflow:hidden;margin:20px auto; }
       }
/* ASIDE */
nav{ width:100%;height:20px;background:$darkgreen;opacity:.3;position:absolute;top:0;left:0;z-index:5;padding:$aside-padding/2 $aside-padding;@include dropshadow;&:hover{ opacity:.8; }
a{ position:absolute;top:10px;z-index:6;width:255px;font-weight:bold;line-height:27px;margin:$text-margin 0;@include centertext;color:lighten($lightgreen,50);text-decoration:none;&:focus{ outline:none;margin-top:5px;} }
}
aside{ display:none;/* temporarily hide */ }
a[href|="#about"]{ left:0; }
a[href|="#chrome"]{ left:256px;}
a[href|="#accounts"]{ left:511px;}
a[href|="#search"]{ left:766px;}
section#search-more{ position:absolute;left:1600px;top:60px;z-index:7;background:white;width:100%;height:100%;min-height:684px; }
/* CANVAS */
canvas{ position:absolute;top:0;left:0; }
#icons{ z-index:2; }
#main-balloon{ z-index:3; }
#dots{ z-index:1; }
.no-canvas canvas{ width:100%;height:100%; }
.no-canvas #main-balloon img{ width:650px;display:block;margin:80px auto 0; }
.no-canvas #dots{ background:url("images/dots-bg.png") repeat 0 0;opacity:.1;filter:alpha(opacity=10);}
.no-canvas #gradient{ background:url("images/gradient-bg.png") repeat-x 0 50%;  }
.no-canvas #icons{ display:none; }
